NEXT_PUBLIC_API_URL=http://localhost:8000/v1
NEXT_PUBLIC_LIBRARY_URL=http://localhost:3001
NEXT_PUBLIC_CANDIDATURE_URL=http://localhost:3002
NEXT_PUBLIC_FOAD_URL=https://foad.pssfp.net
NEXT_PUBLIC_TURNSTILE_SITE_KEY=__a_definir__
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_MATOMO_URL=
NEXT_PUBLIC_MATOMO_SITE_ID=
